.container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20%;
  z-index: 9999;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.toast {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;

  font-size: 15px;
  padding: 8px 16px;
  border-radius: 4px;

  max-width: 60%;
  white-space: pre-line;
  text-align: center;
}
