.back {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main {
  position: relative;
}

.body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.bottomBody {
  @extend .body;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.topBody {
  @extend .body;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.leftBody {
  @extend .body;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rightBody {
  @extend .body;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.centerBody {
  @extend .body;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
