.body {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 10000;
  pointer-events: none;

  .main {
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 88px;
    min-height: 88px;

    margin: 0 30px;

    box-shadow: -5px 0px 20px 0px rgba(100, 100, 100, 0.15);

    span {
      margin-top: 12px;
      font-size: 14px;
      text-align: center;
    }
  }

  .icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg, img {
      width: 100%;
      height: 100%;
    }
  }

  .spinner {
    animation: spin 1s linear infinite;
    
    circle {
      stroke-dasharray: 180;
      stroke-dashoffset: 60;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
