.body {
  background-color: #fff;

  .contain {
    margin: 30px auto;
    height: 300px;
    width: 200px;
  }

  .header {
    background-color: red;

    flex: 1;

    align-self: center;
    justify-self: center;

    display: flex;
    align-items: center;
  }
}
