.body {
  position: absolute;

  bottom: 20%;
  left: 50%;

  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;

  font-size: 15px;
  padding: 8px 12px;
  border-radius: 4px;

  max-width: 50%;
  white-space: pre-line;
}
